$primary-color: #444;
// $primary-color: #fff;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url('/img/background.jpg');
$background-opacity: 0.9;

@mixin easeOut {  
  // transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@mixin background {
  @if $show-home-image {
    #bg-image {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      position: relative;
      height: 100vh;
      
      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary-color, $background-opacity);
      }
    }
  }
}

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Media Query Mixins
@mixin mediaSm {
  @media (max-width: 460px) {
    @content;
  }
}

@mixin mediaMd {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media (min-width: 769px) and (max-width: 1120px) {
    @content;
  }
}

@mixin mediaXl {
  @media (min-width: 1121px) and (max-width: 1440px) {
    @content;
  }
}

@mixin mediaXXl {
  @media (min-width: 1441px) {
    @content;
  }
}